.jumbotron {
	background-color: rgb(180, 114, 114);
	font-family: 'Anton', sans-serif;
}

.jumbotron h1 {
	color: white;
	font-weight: bold;
	font-size: 90px;
	
}

.jumbotron h3 {
	
	font-size: 22px;
	color: white;
}

.panel-info>.panel-heading{
	background-color: #337ab7;
}

.panel-title{
	color: white;
}

.panel-body th {
	font-weight: bold;

}

.navbar-fixed-bottom .container{
	margin-top: 50px;
}